@font-face {
    font-family: 'museo_sans';
    src: url('/fonts/museosans_300-webfont.eot');
    src: url('/fonts/museosans_300-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/museosans_300-webfont.woff2') format('woff2'),
         url('/fonts/museosans_300-webfont.woff') format('woff'),
         url('/fonts/museosans_300-webfont.ttf') format('truetype'),
         url('/fonts/museosans_300-webfont.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_italic';
    src: url('/fonts/museosans_300_italic-webfont.eot');
    src: url('/fonts/museosans_300_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/museosans_300_italic-webfont.woff2') format('woff2'),
         url('/fonts/museosans_300_italic-webfont.woff') format('woff'),
         url('/fonts/museosans_300_italic-webfont.ttf') format('truetype'),
         url('/fonts/museosans_300_italic-webfont.svg#museo_sans300_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_slab';
    src: url('/fonts/museo_slab_700-webfont.eot');
    src: url('/fonts/museo_slab_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/museo_slab_700-webfont.woff2') format('woff2'),
         url('/fonts/museo_slab_700-webfont.woff') format('woff'),
         url('/fonts/museo_slab_700-webfont.ttf') format('truetype'),
         url('/fonts/museo_slab_700-webfont.svg#museo_slab700') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_slab_italic';
    src: url('/fonts/museo_slab_700italic-webfont.eot');
    src: url('/fonts/museo_slab_700italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/museo_slab_700italic-webfont.woff2') format('woff2'),
         url('/fonts/museo_slab_700italic-webfont.woff') format('woff'),
         url('/fonts/museo_slab_700italic-webfont.ttf') format('truetype'),
         url('/fonts/museo_slab_700italic-webfont.svg#museo_slab700_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'skyfall';
    src: url('/fonts/skyfall_done-webfont.eot');
    src: url('/fonts/skyfall_done-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/skyfall_done-webfont.woff2') format('woff2'),
         url('/fonts/skyfall_done-webfont.woff') format('woff'),
         url('/fonts/skyfall_done-webfont.ttf') format('truetype'),
         url('/fonts/skyfall_done-webfont.svg#skyfall_doneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}